#Data Preprocessing

In [5]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# Load CSV
df = pd.read_csv("c:/users/lsund/downloads/Churn_Modelling.csv")

# 1. Handle missing values (if any)
df = df.fillna(df.median())  # numeric columns
df = df.dropna()              # any remaining missing rows

# 2. Encode categorical features
df['Gender'] = df['Gender'].map({'Male':0, 'Female':1})
df = pd.get_dummies(df, columns=['Geography'], drop_first=True)  # One-hot encoding

# 3. Separate features and target
X = df.drop(['CustomerID','Exited'], axis=1)
y = df['Exited']

# 4. Scale numerical variables
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
# Numeric columns only
num_cols = df.select_dtypes(include=np.number).columns
df[num_cols] = df[num_cols].fillna(df[num_cols].median())

# Categorical columns
cat_cols = df.select_dtypes(include='object').columns
for col in cat_cols:
    df[col] = df[col].fillna(df[col].mode()[0])

TypeError: Cannot convert [['Hargrave' 'Hill' 'Onio' ... 'Liu' 'Sabbatini' 'Walker']
 ['France' 'Spain' 'France' ... 'France' 'Germany' 'France']
 ['Female' 'Female' 'Female' ... 'Female' 'Male' 'Female']] to numeric

In [7]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain
0,1,15634602,Hargrave,619,1,42,2,0.00,1,1,1,101348.88,1,False,False
1,2,15647311,Hill,608,1,41,1,83807.86,1,0,1,112542.58,0,False,True
2,3,15619304,Onio,502,1,42,8,159660.80,3,1,0,113931.57,1,False,False
3,4,15701354,Boni,699,1,39,1,0.00,2,0,0,93826.63,0,False,False
4,5,15737888,Mitchell,850,1,43,2,125510.82,1,1,1,79084.10,0,False,True

In [9]:
print(df.columns)

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Gender', 'Age',
       'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard', 'IsActiveMember',
       'EstimatedSalary', 'Exited', 'Geography_Germany', 'Geography_Spain'],
      dtype='object')

In [11]:
# Gender mapping
df['Gender'] = df['Gender'].map({'Male':0, 'Female':1})

# No need to do get_dummies again, already done
# Geography columns are now: Geography_Germany, Geography_Spain

In [12]:
print(df.head())

   RowNumber  CustomerId   Surname  CreditScore  Gender  Age  Tenure  \
0          1    15634602  Hargrave          619     NaN   42       2
1          2    15647311      Hill          608     NaN   41       1
2          3    15619304      Onio          502     NaN   42       8
3          4    15701354      Boni          699     NaN   39       1
4          5    15737888  Mitchell          850     NaN   43       2

     Balance  NumOfProducts  HasCrCard  IsActiveMember  EstimatedSalary  \
0       0.00              1          1               1        101348.88
1   83807.86              1          0               1        112542.58
2  159660.80              3          1               0        113931.57
3       0.00              2          0               0         93826.63
4  125510.82              1          1               1         79084.10

   Exited  Geography_Germany  Geography_Spain
0       1              False            False
1       0              False             True
2       1              False            False
3       0              False            False
4       0              False             True